{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
  "name": {{ site.Title }},
  "url": {{ site.Home.Permalink }},
  "description": {{ site.Params.description | plainify | truncate 180 | safeHTML }},
  {{- if (eq site.Params.schema.publisherType "Person") }}
  "image": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }},
  {{- else }}
  "logo": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }},
  {{- end }}
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ trim $e " " }}{{ end }}
    {{- else}}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | safeURL }}{{ end }}
    {{- end}}
  ]
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := split $lang_url "/" }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- $first := true }}
    {{- range $index, $element := $bc_list }}
    {{- $partial := "" }}
    {{- range $bc_list }}{{ if gt (len $partial) 0 }}{{ $partial = printf "%s%s/" $partial . }}{{ else }}{{ $partial = printf "%s/" . }}{{ end }}{{ end -}}
    {{- $bc_pg := site.GetPage $partial }}
    {{- if and $bc_pg (gt (len $element) 0) }}
    {{- if not $first }},{{ end }}
    {{- $first = false }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index }},
      "name": {{ $bc_pg.Name }},
      "item": {{ $bc_pg.Permalink | jsonify }}
    }
    {{- end }}
    {{- end }}
    {{- if not $first }},{{ end }}
    {
      "@type": "ListItem",
      "position": {{ len $bc_list }},
      "name": {{ .Name }},
      "item": {{ .Permalink | jsonify }}
    }
  ]
}
</script>
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify}},
  "name": "{{ .Title | plainify }}",
  "description": {{ with .Description | plainify }}{{ . }}{{ else }}{{ .Summary | plainify  }}{{ end -}},
  "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- end }}
  ],
  "articleBody": {{ .Content | safeJS | htmlUnescape | plainify }},
  "wordCount" : "{{ .WordCount }}",
  "inLanguage": {{ .Language.Lang | default "en-us" }},
  {{ if .Params.cover.image -}}
  "image":
    {{- if (ne .Params.cover.relative true) -}}
    {{ .Params.cover.image | absURL }},
    {{- else -}}
    {{ (path.Join .RelPermalink .Params.cover.image ) | absURL }},
    {{- end}}
  {{- else }}
    {{- $images := partial "templates/_funcs/get-page-images" . -}}
    {{- with index $images 0 -}}
  "image": {{ .Permalink }},
    {{- end }}
  {{- end -}}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  {{- with (.Params.author | default site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" .) "[]string") (eq (printf "%T" .) "[]interface {}")) -}}
  [{{- range $i, $v := . -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": {{ $v }}
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": {{ . }}
  },
    {{- end -}}
  {{- end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "publisher": {
    "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
    "name": {{ site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }}
    }
  }
}
</script>
{{- end }}{{/* .IsPage end */}}

{{- end -}}